html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Lato Regular', sans-serif;
  font-size: 1.6rem;
  background-color: #fefefe;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/* Container */

.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
}


/* HEADER */

header {
  padding: 34px 0 30px;
  background-color: #2d303a;
  border-bottom: solid 6px #323746;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navbar-header .logo {
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -.7px;
  font-family: 'Lato Bold', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
}

.navbar-header .logo span {
  color: #f06c64;
}

.nav-list {
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Lato Bold', sans-serif;
  text-transform: uppercase;
  list-style: none;
  color: #fff;
}

.nav-list-item {
  position: relative;
  margin-right: 30px;
  letter-spacing: -.15px;
  cursor: pointer;
  transition: color .2s linear;
}

.nav-list-item::after {
  position: absolute;
  top: 6px;
  right: -16px;
  width: 2px;
  height: 2px;
  background-color: #434759;
  border-radius: 50%;
  content: "";
}

.nav-list-item:hover {
  text-decoration: underline;
  color: #f06c64;
}

.nav-list-item:last-child {
  margin-right: 0;
}

.nav-list-item:last-child::after {
  width: 0;
}

.nav-list .active {
  color: #f06c64;
}

/* Slider */

.slider {
  position: relative;
  height: 600px;
  background-color: #f06c64;
  border-bottom: solid 6px #ea676b;
}

.slider-item {
  display: flex;
}

.phone-1 {
  padding: 52.5px 0 0 72px;
}

.phone-2 {
  padding: 174px 0 0 73px;
}

.arrow-left {
  position: absolute;
  top: 47.3%;
  left: 2px;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  top: 47.3%;
  right: 0;
  cursor: pointer;
}

/* Services */

.services {
  padding: 61.5px 0 31.5px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #fff
}

.services-title {
  margin-bottom: 16.5px;
  font-family: 'Lato Black', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: #666d89;
}

.services-subtitle {
  margin-bottom: 42px;
  font-size: 1.8rem;
  color: #767e9e;
  font-family: 'Lato Light', sans-serif;
  line-height: 30px;
  text-align: justify;
  letter-spacing: .12px;
  word-spacing: -2.3px;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.services-grid-logo {
  position: absolute;
  top: 4px;
  left: .9px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 59px;
  height: 59px;
  border: 2px solid #666d89;
  border-radius: 50%;
}


.services-grid-item {
  position: relative;
  margin-bottom: 30px;
  max-height: 93px;
  padding-left: 80px;
  overflow: hidden;
}

.services-grid-item-title {
  margin-bottom: 8px;
  color: #666d89;
  font-family: "Lato Black";
  font-size: 1.87rem;
  font-weight: 400;
  letter-spacing: -.4px;
}

.services-grid-item-text {
  color: #767e9e;
  font-size: 1.2rem;
  line-height: 21.56px;
  text-align: justify;
  letter-spacing: -.1px;
}
